.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: -1;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}


.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}
@media (max-width: 575px) {
    body {
      /* background-color: yellow; */
    }
    h1
    {
        font-size: 15px;
        
    }
    .navbar,.actions{
      display: none;
    }
    .main
    {
        margin-top: 100px;
    }
   
    /** Media queries previos al banner **/
    .img-capterra {
        width: 100%;
      }
      features {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center} 
  
  
  
}
@media (max-width: 991px) {
  .actions,
  .navbar {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .actions,
  .navbar {
    text-align: center;
  }
}